QMenuBar, QMenuBar *,
#frame, #frame * {
  background: #2a2a2f;
  color: #ededee;
  padding: 4px;
  margin: 0;
}

  #frame QPushButton {
    border: 1px solid #e0e0e2;
    border-radius: 4px;
  }

  #frame QPushButton:hover {
    background: #9f9fa4;
  }

  #frame QLineEdit {
    border: none;
    padding: 1px;
    border-bottom: 1px solid #e0e0e2;
  }

  #frame QLineEdit:focus {
    background: #3e3e48;
    border-bottom: 2px solid #e0e0e2;
  }

  #frame QLabel {
    padding-right: 0px;
  }

  /*
  */
  #frame QSlider::groove:horizontal {
    background: #8bd3e2;
    height: 4px;
    border: 1px solid #0f1010;
  }

  #frame QSlider::handle:horizontal {
    margin: -4px 0;
    width: 12px;
    background: #9f9fa4;
    border: 1px solid #0f1010;
    border-radius: 4px;
  }

  QMenu::item:selected,
  QMenuBar::item:selected {
    background: #3e3e48;
  }

#plots, #plots * {
  background: #3e3e48;
}

#logtext {
  background: #3e3e48;
  font-family: monospace;
  font-size: 8pt;
}
  
