# Executable
emc
bin/
build/

# Data files
*.dat
*.bin
*.log
*.txt
*.out
.*.out
*.lst
*.png
*.raw
*.byt
*.pyc
data
.nfs*
!requirements.txt

# Utilities
/utils/*
!/utils/src
!/utils/*.py
!/utils/py_src
!/utils/convert
!/utils/cython

# Reconstruction directories
/recon_*

# Latex files
*.gz
*.aux
*.out
*.pdf
*.log
*.blg
*.bbl
*.DS_Store

# Reconstruction folders (ending with four digits)
/*[0-9][0-9][0-9][0-9]

# Cython and pip compiled files
*.so
/dragonfly/*.c
/dragonfly/utils/*.c
*egg-info/
