[parameters]
# Experimental parameters for detector file generation
# Detector distance in mm
detd = 200.
# Wavelength in Angstroms
lambda = 3.
# Number of pixels along one edge of square detector
detsize = 256 
# Effective size of pixels in mm 
pixsize = 0.1 
# Radius of beam stop in pixels
stoprad = 20

# EMC parameters
# Whether you need to assume variable fluence
need_scaling = 1
# Inertia parameter (0 means no effect)
alpha = 0.
# Inverse termperature for deterministic EM (1 means no effect)
beta = 1.

[files]
data = test.lst
log = RECON.log
output_prefix = data/output
#blacklist = 
#scale = 


[make_densities]
pdb = aux/4BED.pdb
scatt_dir = aux/henke_table
out_density_file = data/densityMap.bin


[make_intensities]
in_density_file = data/densityMap.bin
out_intensity_file = data/intensities.bin


[make_detector]
out_detector = aux/det_sim.dat


[make_data]
num_data = 1000
mean_count = 1000.
model = data/intensities.bin
photons = data/photons.emc


[make_quaternion]
refinement = 8
quaternion = aux/quat_08.dat
