[parameters]
# Experimental parameters for detector file generation
# Detector distance in mm
detd = 100.
# Wavelength in Angstroms
lambda = 1.5
# Number of pixels along one edge of square detector
detsize = 100 
# Effective size of pixels in mm 
pixsize = 2. 
# Radius of beam stop in pixels
stoprad = 50

# EMC parameters
# Whether you need to assume variable fluence
need_scaling = 1
# Inertia parameter (0 means no effect)
alpha = 0.
# Inverse termperature for deterministic EM (1 means no effect)
beta = 1.

[files]
pdb = aux/4BED.pdb
#data = rdvyc_v1_16_s16.lst
data = test.lst
log = RECON.log
output_prefix = data/output
scatt_dir = aux/henke_table
density_file = data/densityMap.dat
#input =
detector = aux/det_sim.dat
mask = aux/mask_sym.byt
quaternion = aux/quat_08.dat
#blacklist = 
#scale = 

[make_data]
num_data = 1000
mean_count = 1000.
model = data/intensities.bin
photons = data/photons.emc
