[parameters]
# Experimental parameters for detector file generation
# Detector distance in mm
detd = 500.
# Wavelength in Angstroms
lambda = 1.5
# Number of pixels along one edge
detsize = 512
# Effective size of pixels in mm 
pixsize = 0.1
# Radius of beam stop in pixels
stoprad = 50

# Deprecated options
# Experimental parameters for detector file generation
# 3D voxel size in A^-1
#qscale = 1.e-4
# 3D cube model size and origin
#size = 99
#center = 49

# EMC parameters
# Whether you need to assume variable fluence
need_scaling = 1
# Inertia parameter (0 means no effect)
alpha = 0.
# Inverse termperature for deterministic EM (1 means no effect)
beta = 1.

[files]
pdb = aux/4BED.pdb
#data = rdvyc_v1_16_s16.lst
data = test.lst
log = RECON.log
output_prefix = data/output
#input =
detector = aux/det_sim.dat
mask = aux/mask_sym.byt
quaternion = aux/quat_08.dat
#blacklist = 
#scale = 

[make_data]
num_data = 1000
mean_count = 1000.
model = data/intensities.bin
photons = data/photons.emc
