include LICENSE
include README.md
include requirements.txt
include pyproject.toml
recursive-include dragonfly *.pyx *.pxd
recursive-include dragonfly/src *.c *.h
recursive-include dragonfly/utils/src *.c *.h
recursive-include dragonfly/aux *
recursive-include dragonfly/utils/py_src *.css
recursive-exclude dragonfly/utils/__pycache__
recursive-exclude dragonfly/utils/py_src/__pycache__
recursive-exclude dragonfly/__pycache__
recursive-exclude * __pycache__
global-exclude *.pyc
global-exclude *.so
global-exclude *.log
